# ***Theory Question***

1. What are data structures, and why are they important ?

 ANS :- Data structures are specialized formats for organizing, storing, and managing data in a computer's memory or storage. They define the relationships between data elements and the operations that can be performed on them.

 The effective use of data structures is crucial for writing efficient, scalable, and well-organized Python code. THE IMPORTANCE ARE :

 Effective Algorithm Design and Implementation: Data structures serve as the foundation for creating complex algorithms. Understanding how to store and organize data efficiently is essential for designing algorithms that solve computational problems effectively.

 Scalability: As your application grows and handles larger datasets, selecting appropriate data structures ensures that the code can scale efficiently without becoming slow or cumbersome.

 Problem Solving: Data structures provide the tools to approach and solve a wide range of computational problems more effectively by allowing you to choose the most suitable way to store and manipulate your data.

 Real-world Applications: Data structures are fundamental in various applications, including databases, artificial intelligence, machine learning, networking, and more.

2. Explain the difference between mutable and immutable data types with examples .

 ANS :- 1. Mutable data types

 Mutable data types allow modification of their value or internal state after creation.

 Behavior: When you modify a mutable object, the changes occur in place, meaning the object's identity (memory address) remains the same.

 Examples:

 Lists: Ordered collections that allow adding, removing, or changing elements after creation.

 Dictionaries: Collections of key-value pairs where you can add, modify, or remove pairs.

 Sets: Unordered collections of unique elements where you can add or remove elements.

 Example of a mutable list:

my_list = [1, 2, 3]  # Initial list


my_list[0] = 10     # Modifying an element

my_list.append(4)   # Adding an element

print(my_list)      # Output: [10, 2, 3, 4]

2. Immutable data types

 Immutable data types cannot be modified after they are created.

 Behavior: If you try to alter an immutable object, Python creates a new object with the modified content instead of changing the original.

 Examples:
Numbers (integers, floats): Values like 10, 3.14 cannot be directly changed. Any operation appearing to modify them creates a new number object.

 Strings: Sequences of characters that cannot be modified after creation.

 Tuples: Ordered collections, similar to lists, but their elements cannot be changed once the tuple is created.
Example of an immutable string:


  my_string = "Hello"      # Initial string

 new_string = my_string + " World" # Creating a new string by concatenation

 print(my_string)     # Output: Hello

 print(new_string)    # Output: Hello World

3. What are the main differences between lists and tuples in Python ?

 ANS:- Lists are mutable: This means you can add, remove, or modify elements after a list is created.

 Tuples are immutable: Their contents cannot be altered once the tuple is created.

4. Describe how dictionaries store data .

 ANS:-
 *  A dictionary stores data as key-value pairs.
 * Each key is unique and is used to access its corresponding value.
 * Dictionaries are mutable, so you can add, update, or remove items.
 * Internally, dictionaries use a hash table for fast lookups.

5.  Why might you use a set instead of a list in Python ?

ANS:- While both lists and sets are used to store collections of data in Python, they have key differences that make them suitable for distinct use cases.

Thats why we choose sets over list ▶

 * Uniqueness: Sets are inherently designed to store only unique elements, automatically removing any duplicates. If your data should not contain duplicates, a set simplifies the process and avoids redundant storage. For instance, creating a list of unique email addresses from a larger collection is a common scenario where sets shine.

 * Faster Membership Testing: Sets are optimized for checking if an element is present within the collection. This "membership testing" operation is significantly faster in sets than in lists, especially with large datasets. Sets achieve this efficiency through hashing, offering an average time complexity of O(1) for lookups, compared to O(n) for lists.

 * Set Operations: Sets provide direct support for mathematical set operations like union, intersection, and difference. These operations allow for efficient comparison and combination of data, making your code cleaner and more efficient compared to manually achieving similar results using lists. For example, finding common elements between two lists can be done much more efficiently by converting them to sets and using the intersection operation.

 * No Order Requirement: Sets are unordered, meaning the elements don't retain a specific sequence. If the order of your data isn't crucial, sets provide better performance for operations that benefit from this unordered structure, such as duplicate removal and membership testing.

6. What is a string in Python, and how is it different from a list ?

 ANS :- In Python, a string is an ordered sequence of characters, such as letters, numbers, symbols, and whitespace. Strings are typically enclosed in either single or double quotes. For example:
    
    name = "Alice"

    message = 'Hello, world!'

 THE DIFFERENCE IS:
 * Strings are immutable: This means that once a string is created, its content cannot be changed. Any operation that appears to modify a string, like replacing a character or concatenating it with another string, actually creates a new string object.
 * Lists are mutable: You can modify the elements within a list after it's created, such as adding, removing, or changing items at specific indices

7. How do tuples ensure data integrity in Python ?

ANS:-
  * Tuples are immutable, which means once a tuple is created, its contents cannot be
changed.
  * This immutability protects the data from accidental modification or deletion.
  * Because tuples cannot be altered, they are safer to use for fixed data that should not be
modified.
  * This helps in maintaining data integrity especially when passing data between functions
or modules.
  * Tuples can also be used as keys in dictionaries because they are immutable.

8. What is a hash table, and how does it relate to dictionaries in Python ?

ANS:- A hash table is a data structure that stores key-value pairs.
It uses a hash function to compute an index (called a hash) into an array, where the value
is stored.
This allows fast data lookup, insertion, and deletion, usually in constant time O(1).
Python dictionaries are implemented using hash tables internally.
When you use a dictionary, Python computes the hash of the key and stores the value at
that position.
This is why dictionary operations like dict[key] are very fast.
Keys in dictionaries must be hashable (immutable data types like strings, numbers,
tuples).

9. Can lists contain different data types in Python ?

ANS:- Yes, lists in Python can contain elements of different data types.
A single list can have integers, strings, floats, booleans, and even other lists or objects.
This makes lists very flexible and useful for storing mixed data.

10.  Explain why strings are immutable in Python .

ANS:-Strings are immutable, meaning once created, their contents cannot be changed.

This design choice helps Python to:
Optimize memory usage by allowing string reuse (string interning).
Make strings thread-safe (safe to use in multiple parts of a program without
unintended changes).
Prevent bugs by avoiding accidental changes to string data.

When you modify a string, Python actually creates a new string instead of changing the
original.

11. What advantages do dictionaries offer over lists for certain tasks ?

ANS:-
 * **Fast Lookup:**
Dictionaries provide fast access to values using keys (usually in constant time O(1)), while
lists require searching through elements (O(n)).
 * **Key-Value Pair Storage:**
Dictionaries store data as key-value pairs, making it easy to represent relationships (like a
person's name and age), whereas lists store ordered items without keys.
 * **Uniqueness of Keys:**
Keys in dictionaries are unique, preventing duplicate entries for the same key.
 * **Flexible Data Access:**
You can access data directly by key rather than by position or index.

12.  Describe a scenario where using a tuple would be preferable over a list .

ANS:-

*** When to Use a Tuple:***

  A tuple is preferable when you want to store fixed, unchangeable data that should remain
constant throughout the program.

Example Scenario:
Storing geographical coordinates of a location.

In [ ]:
# Using a tuple for fixed coordinates
location = (28.6139, 77.2090) # Latitude, Longitude
# location[0] = 29.0000 # This will cause an error (immutable)
print(location) # Output: (28.6139, 77.2090)

13. How do sets handle duplicate values in Python ?

ANS:- In Python, sets automatically remove duplicates.
They store only unique elements and ignore any repeated values

14.  How does the “in” keyword work differently for lists and dictionaries ?

ANS:-
  * In Lists:
in checks if the given element exists anywhere in the list.
  * In Dictionaries:
in checks only if the given value exists as a key, not as a value.

In [ ]:
# Example for list
my_list = [1, 2, 3]
print(2 in my_list) # True
print(5 in my_list) # False
# Example for dictionary
my_dict = {"a": 1, "b": 2}
print("a" in my_dict) # True (key exists)
print(1 in my_dict) # False (1 is a value, not a key)
print(1 in my_dict.values()) # True (checks in values)

15. Can you modify the elements of a tuple? Explain why or why not .

ANS:- No, you cannot modify the elements of a tuple in Python because tuples are immutable.
Once a tuple is created, its elements cannot be changed, added, or removed.
This immutability makes tuples useful for storing fixed data that should not change during
program execution

16.  What is a nested dictionary, and give an example of its use case ?

ANS:- A nested dictionary in Python is a dictionary inside another dictionary.
It is used to store complex and structured data in a hierarchical form.

***Example: Student Information***

In [6]:
# Creating a nested dictionary
students = {
"student1": {"name": "Alice", "age": 20, "marks": {"Math": 90, "Science": 85}},
"student2": {"name": "Bob", "age": 21, "marks": {"Math": 78, "Science": 88}}
}
# Accessing nested values
print(students["student1"]["name"]) # Output: Alice
print(students["student1"]["marks"]["Math"]) # Output: 90
# Modifying a value in nested dictionary
students["student2"]["marks"]["Science"] = 92
print(students)

Alice
90
{'student1': {'name': 'Alice', 'age': 20, 'marks': {'Math': 90, 'Science': 85}}, 'student2': {'name': 'Bob', 'age': 21, 'marks': {'Math': 78, 'Science': 92}}}

17.  Describe the time complexity of accessing elements in a dictionary .

ANS:-  In Python, a dictionary is implemented using a hash table.
Each key is hashed to determine where its value is stored in memory.
This makes element access very fast.


***Time Complexity:***

Average Case: O(1) → Constant time

Reason: Hashing allows direct access to the value using its key.

Worst Case: O(n) → Linear time

Reason: Can happen if hash collisions occur and all keys fall into the same bucket (rare in
Python's implementation).

18.  In what situations are lists preferred over dictionaries ?

ANS:-
 When to Prefer Lists:
1. Order Matters

Lists maintain the order of elements by index.
Useful when you need to process items in a specific sequence.
2. No Need for Key-Value Pairs

If your data doesn't require unique keys and you just want to store values.
3. Duplicate Values Are Allowed

Lists can store the same value multiple times, unlike sets or dictionary keys.
4. Index-Based Access is Needed

You can access elements directly using their index (e.g., my_list[0] ).

19.  Why are dictionaries considered unordered, and how does that affect data retrieval ?

ANS:- Before Python 3.7:
Dictionaries did not preserve the order of insertion, meaning the order
of items could appear random.

From Python 3.7 onwards:
 Dictionaries preserve insertion order, but conceptually they are
still unordered collections, because:

Access to values is based on keys (hashing), not position.
You cannot rely on indexes like lists ( dict[0] is invalid).

Effect on Data Retrieval:
1. No Index-Based Access
Retrieval happens through keys, not positions.
2. Fast Access Using Keys
Average time complexity for lookup is O(1) because of hash table implementation.
3. Iteration Order May Not Matter
If your program logic depends on data order, a dictionary might not be suitable
unless you explicitly maintain order.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.

ANS:-
 * Lists: Data is retrieved based on its position or index in the list. You access elements using their numerical index (starting from 0). For example, my_list[0] retrieves the first element. This is efficient for accessing elements by their order, but searching for a specific value without knowing its index can be slow (linear search).
 * Dictionaries: Data is retrieved based on its unique key. You access the associated value by providing the key. For example, my_dict['name'] retrieves the value associated with the key 'name'. This is very efficient for retrieving data when you know the key (average O(1) time complexity) because of the underlying hash table implementation

# ***Practical Questions***

1. Write a code to create a string with your name and print it .

In [ ]:
name = "Aditya"
print(name)

Aditya

2.  Write a code to find the length of the string "Hello World"

In [ ]:
name="Hello World"
print(len(name))

11

3.  Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
name="Python Programming"
print(name[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase

In [ ]:
name="hello"
print(name.upper())

HELLO

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
line="I like apple"
print(line.replace("apple","orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it .

In [ ]:
list= [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] .

In [ ]:
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] .

In [ ]:
list=['a','b','c','d']
print(list[1])

b

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11. 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

12.  12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tuple=('red','green','blue','yellow')
print(tuple[-2])

blue

13. . Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tuple=(10,20,5,15)
print(min(tuple))

5

14. 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple=('dog','cat','rabbit')
print(tuple.index('cat'))

1

15. . Write a code to create a tuple containing three different fruits and check if "kiwi" is in it .

In [ ]:
tuple=("apple","banana","kiwi")
print("kiwi" in tuple)

True

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set={'a','b','c'}
print(set)

{'a', 'c', 'b'}

17. . Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set={1,2,3,4,5}
set.clear()
print(set)

set()

18. . Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
a={1,2,3}
b={3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
a={1,2,3}
b={2,3,4}
print(a.intersection(b))

{2, 3}

21. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
a={1,2,3}
b={2,3,4}
print(a.intersection(b))

{2, 3}

22. . Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dic={'name': 'John', 'age': 25}
dic["country"]="USA"
print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
dic={'name': 'Alice', 'age': 30}
print(dic["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dic={'name': 'Bob', 'age': 22, 'city': 'New York'}
dic.pop("age")
print(dic)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dic={'name': 'Alice', 'city': 'Paris'}
print("city" in dic)

True

26.   Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
list=[1,2,3,4]
tuple=(1,2,3,4)
dic={'name': 'Alice', 'city': 'Paris'}
print(list)
print(tuple)
print(dic)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Alice', 'city': 'Paris'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [2]:
# Create a list of 5 random numbers between 1 and 100
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
# Sort the list in ascending order
random_numbers.sort()
# Print the sorted list
print(random_numbers)

[5, 33, 49, 83, 94]

28.  Write a code to create a list with strings and print the element at the third index .

In [3]:
# Creating a list of strings
fruits = ["apple", "banana", "cherry", "orange", "mango"]
# Accessing the element at the third index
print(fruits[3])

orange

29. Write a code to combine two dictionaries into one and print the result.

In [4]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
# Merge dict2 into dict1
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.  30. Write a code to convert a list of strings into a set.

In [5]:
# List of strings
fruits_list = ["apple", "banana", "apple", "orange", "banana"]
# Convert list to set
fruits_set = set(fruits_list)
print(fruits_set)

{'orange', 'banana', 'apple'}